<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="baseUrl" value="https://api.hubapi.com/contacts/v1" />
    <add key="baseFilePath" value="%APPDATA%\HubSpot\" />
    <add key="ftpHost" value="ftp://testftp.com" />
    <add key="ftpPort" value="443" />
    <add key="ftpUserName" value="tester" />
    <add key="ftpPassword" value="t3$t3r" />
  </appSettings>
</configuration>